.groupeIcone {
    position: relative;
    display: flex;
    flex-direction: column;
    top: -300px;
    left: 90%;
    width: min-content;
    height: 50px;

    @media screen and (max-width: 1000px){
        position: none;
        margin-top: 30px;
        width: 100%;
        top: -10px;
        left: -10%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .icon {
        color: white;
    }

    .fa-linkedin, .fa-twitter {
        height: 80px;
        margin-bottom: 20px;
        animation: animaFA 1s smooth;
        transition: 1s;
        position: absolute;
        
    }

    .fa-twitter {
        top: 100px;

        @media screen and (max-width: 1000px){
            top: 0;
        }
    }

    .fa-linkedin:hover, .fa-twitter:hover {
        height: 70px;
        transition: 1s;

    }
}