.navigation {
  ul {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 30px auto;

    @media screen and (max-width: 1000px){
      margin-left: 35%;
    }

    @media screen and (max-width: 700px){
      flex-wrap: wrap;
      text-align-last: start;
    }    

    @media screen and (max-width: 430px){
      margin-left: 0%;
      padding-top: 150px;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
    }

    a {
      text-decoration: none;
      padding: 10px;

      li {
        color: $color-1;
        transition: 0.2s;
        cursor: pointer;
        font-size: 25px;

        &:hover {
          color: $color-2;
        }
        @media screen and (max-width: 1000px){
          font-size: 120%;
        }

        @media screen and (max-width: 511px){
          font-size: 80%;
        }

        @media screen and (max-width: 430px){
          font-size: 120%;
        }
      }
    }

    .nav-active {
      position: relative;

      &::after {
        content: "";
        height: 4px;
        width: 0;
        background: $white;
        position: absolute;
        border-radius: 10px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-animation: anim 0.3s ease forwards;
        animation: anim 0.6s ease forwards;

        @-webkit-keyframes anim {
          to {
            width: 100%;
          }
        }
        @keyframes anim {
          to {
            width: 100%;
          }
        }
      }
    }
  }
}

  