.mentionsLegales {
    .mentions  {
        margin-top: 150px;
        width: fit-content;
    }

    .charte  {
        bottom: 0;

        @media screen and (max-width: 430px){
            bottom: auto;
          }
    }
    
}